.editor {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  // gap: 1rem;
}

.editor-container {
  overflow: unset !important;
}
.ghost-page {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.new-page {
  z-index: 2;
}
.editor-side {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(89, 85, 101, 0.2);
}
.separator {
  // background-color: red;
  align-content: center;
  // cursor: col-resize !important;
  &:focus-visible {
    outline: none !important;
  }
  &:hover {
    // cursor: col-resize !important;
  }
  // padding-top: 1rem;
  // margin-inline: 0.2rem;
  .grip-vertical {
    margin-inline: -0.3rem;
    // cursor: col-resize !important;
    color: #959595;
  }
}
.preview-side {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  // background-color: white;
  padding-top: 1rem;
  width: -webkit-fill-available;
  background-color: #dcdcdc99;
  contain: size; // preventing the overload from leaking
}
.display-holder {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
iframe {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.pdf-container {
  background-color: unset !important;
  padding: unset !important;
}
.pdf-page {
  position: relative;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  // background: white;
  line-height: 0;
  text-align: center;
}

// // gonna let pdf_viewer.css take care of all text layer positioning
// .pdf-page .textLayer ::selection {
//   background: rgba(0, 100, 200, 0.3);
// }
//
.preview-canvas {
  display: unset !important;
}
// .pdf-page {
//   position: relative;
//   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
//   background: white;
//   line-height: 0;
// }

/* === text layer base === */
.textLayer {
  position: absolute;
  text-align: initial;
  inset: 0;
  overflow: clip;
  opacity: 1;
  line-height: 1;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  forced-color-adjust: none;
  transform-origin: 0 0;
  z-index: 0;
  place-self: anchor-center;
}

/*  === text layer sizing === */
.textLayer {
  --min-font-size: 1;
  --text-scale-factor: calc(var(--total-scale-factor) * var(--min-font-size));
  --min-font-size-inv: calc(1 / var(--min-font-size));
}

/* === text spans === */
.textLayer :is(span, br) {
  color: transparent;
  // color: red;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.textLayer > :not(.markedContent),
.textLayer .markedContent span:not(.markedContent) {
  --font-height: 0;
  font-size: calc(var(--text-scale-factor) * var(--font-height));
}

/* text selecting hightlight color*/
.textLayer ::selection {
  background: rgba(0, 100, 200, 0.3);
}
