.layout {
  display: flex;
  flex-direction: row;
  height: -webkit-fill-available;
}
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  margin-inline: 0.5rem;
  // background-color: lightcoral;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: anchor-center;
}
.logo-nav {
  background-color: red;
  margin-top: auto;
  align-self: center;
  // margin-bottom: 2rem;
  rotate: 270deg;
  width: 0rem;
}
.main-content {
  height: -webkit-fill-available;
  border-top-left-radius: 7px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(89, 85, 101, 0.2);
  padding: 2rem;
}
.main-holder {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
