.strength-bar {
  display: flex;
  flex: 1;
}

.bar-segment {
  // height: 2px;
  // flex: 1;
  // transition: background-color 0.3s ease;
  &0 {
    border-bottom-left-radius: 10rem;
  }
  &4 {
    border-bottom-right-radius: 10rem;
  }
}
.strength-label {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}
