.resume {
  // background-color: red;
  width: fit-content;
}

.resume-body {
  height: 14rem;
  border: solid;
  border-width: thin;
  border-color: #959595;
  border-radius: 8px;
}
.resume-title {
  .title {
    font-size: small;
  }
}
