.resumes {
  // background-color: red;
  // width: fit-content;
  // width: 10rem;
}

.new-resume-btn {
  display: flex;
  background-color: transparent;
  border: solid thin #828282;
  border-radius: 5px;
  padding: 0.2rem;
  padding-inline: 0.5rem;
  align-items: center;
  gap: 0.4rem;
  font-size: 13px;
  margin-left: 1.1rem;
  div {
    font-size: 20px;
  }
  &:hover {
    background-color: #f4f4f4;
  }
}

.resume {
  // width: 10rem;
  // background-color: white;
  height: fit-content;
  button {
    scale: 0.6;
    background-color: transparent;
    border: none;
    color: #000000;
    padding-inline: 0.1rem;
    cursor: pointer;
  }
  button:disabled {
    color: gray;
  }
  img {
    width: -webkit-fill-available;
    position: absolute;
    z-index: -1; // this needed to prevent overlapping with context bar
  }
}
// .resume.light {
//   background-color: red;
// }

// wrapping dndkit div so it can only be triggered when line holder in list mode
.item-holder {
  &.list {
    gap: 1rem;
    &.dragging {
      gap: 1rem;
    }
    .resume.light {
      background-color: #ffffff69;
      backdrop-filter: blur(1px);
      min-width: stretch;
      &:hover {
        background-color: #f4f4f4;
        z-index: 1;
      }
    }
    .resume.dark {
      backdrop-filter: blur(1px);
      background-color: #dddddd80;
      min-width: stretch;
      &:hover {
        background-color: #dddddd;
        z-index: 1;
      }
    }

    // targeting dndkit generated div under resume cause doing this in .resume didn't work
    div[aria-roledescription="draggable"] {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.list-header {
  display: flex;
  /* gap: 8rem; */
  // background-color: red;
  justify-content: space-between;
  border-bottom: solid thin #c2c2c2;
  padding-bottom: 1rem;
  padding-top: 2rem;
  font-weight: bold;
  color: #2c2c2c;
  .first-half {
    display: flex;
    // padding-left: 1.6rem;
  }
  .second-half {
    display: flex;
    gap: 4rem;
    padding-left: auto;
    padding-right: 5rem;
  }
}
.resume-body {
  height: 14rem;
  width: 10rem; // moving the width here cause the body is more accessible than .resume for the layout switch
  border: solid;
  border-width: thin;
  border-color: #a7a7a7;
  border-radius: 8px;
  cursor: default;
  // contain: content;
  background-color: white;
  &.list {
    height: unset;
    width: unset;
    display: flex;
    border: unset;
    background-color: unset;
    align-items: center;
    gap: 13rem;
    flex-direction: row-reverse;
    .status {
      opacity: 0;
    }
    &:hover .context-bar {
      margin-top: 0 !important;
      max-height: unset;
      padding-block: unset;
      border-radius: unset;
      border: unset;
    }
    .resume-dates {
      opacity: 1;
      display: flex;
      gap: 3rem;
    }
    .context-bar {
      // background-color: red !important;
      opacity: 1;
      max-height: unset;
      margin-top: 0;
      padding-block: 0;
      margin-left: 3rem;
      padding-right: 0.3rem;
      background-color: transparent !important;
      .tooltip-bubble {
        // left: unset !important;
        // left: calc(100% + -10rem) !important;
        // somehow the tooltip is way bellow where it should be, am not gonna bother figuring out why, this should fix anw
        // top: calc(100% + 0rem) !important;
        // top: unset !important;
      }
    }
  }
}
.resume-dates {
  opacity: 0;
  span {
    font-variant: tabular-nums;
    /* font-weight: 700; */
    /* font-size: xxx-large; */
    color: black;
  }
}

.context-bar {
  opacity: 0;
  justify-self: center;
  max-height: 0;
  margin-top: 3rem;
  padding-block: 0.2rem;
  transition:
    opacity 0.3s ease-in-out,
    max-height 0.3s ease-in-out;
  position: absolute;
}

.resume-body:hover .context-bar {
  opacity: 1;
  margin-top: 3rem;
  max-height: 200px;
  display: flex;
  justify-content: center;
  background-color: rgba(247, 247, 247, 0.431372549);
  padding-block: 0.2rem;
  border-radius: 6px;
  border: solid thin #afafaf;
}
.status {
  background-color: #afafaf;
  position: absolute;
  /* top: 0; */
  /* right: 0; */
  padding: 0.7rem;
  border-bottom-left-radius: 6px;
  justify-self: end;
  margin-top: -2.5rem;
}
.resume-title {
  h1 {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-inline: 0.6rem;
    font-weight: 500;
  }
  input {
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    width: 8rem;
    margin-inline: 0.6rem;
    margin-top: 0.67em;
  }
}
