.Root {
  display: flex;
  display: flex;
  align-items: center;
  &:hover {
    outline: none;
  }

  &:focus-within {
    outline: none;
  }
}

.Toggle {
  all: unset;
  display: flex;
  margin-left: -2rem;
}
