.select-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 15px;
  font-size: 13px;
  height: 35px;
  gap: 5px;
  background-color: white;
  border: 1px solid #828282;
  cursor: pointer;

  &:hover {
    background-color: #f4f4f4;
  }
}

.select-content {
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #afafaf;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35);
}

.select-item {
  font-size: 13px;
  line-height: 1;
  color: #000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;
  outline: none;

  &[data-highlighted] {
    background-color: #58a7ff;
    color: white;
  }
}

.select-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
